<h1>Request a Snack</h1>

<ul>
  {{#each plans}}
    <li>
      <p>
        {{this.id}}. {{this.plan}}
      </p>
    </li>
  {{/each}}
</ul>

<h2 id ="snack">What Snack or Beverage Would You Like?</h2>
<form method="POST" action="/create" class="button-size">
  <textarea type="text" name="plan"></textarea>
  <button type="submit">Request!</button>
</form>

<h2>Update Your Request</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="Number">
  <textarea type="text" name="plan" placeholder="Food or Beverage"></textarea>
  <button type="submit">Submit</button>
</form>